body{
    margin: 0;
    padding: 0;
    background-color: green;
}

p{
    font-size: 30px;
    font-style: oblique;
}

#game-screen{
    display: block;
    margin: 0 auto;
     padding-top: 40px;
}

#an-screen{
    padding-left: 100px;
   display: block;
    margin: 0 auto;
     padding-top: 40px;
}

.h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 200px;
}
/*Music*/
.mus{
    margin: 0 auto;
    background-color: green;
}
/*for moving link */
.coolink{
    color: black;   
    text-decoration: none;
}
/*Game over Screen */
#gameOver{
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-size: 75px;
    margin: 0;
    margin-left: 180px;
    margin-top: 60px;

    width: 1000px;
    height: 525px;
}
/*Title for Game over Screen */
.title{
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
/*Restart Button */
#restartButton{
    margin: 0;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#restartButton:hover{
    background-color: green;
}
/*Start Screen */
#gameStart{
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-size: 75px;
    margin: 0;
    margin-left: 180px;
    margin-top: 50px;
    border: solid;
    background-color: red;
    width: 1000px;
    height: 500px;
}
/*Controls button for start screen */
#controlstrt{
    margin: 0;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#controlstrt:hover{
    background-color: lightgray;
}
/*Rules button for start screen */
#rulestrt{
    margin: 0;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}


#rulestrt:hover{
    background-color: lightgray;
}
/*Screen for Rules */

#rulScreen{
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-size: 75px;
    margin: 0;
    margin-left: 180px;
    margin-top: 60px;
    border: solid;
    background-color: red;
    width: 1000px;
    height: 525px;
}
/*Style for rules */
.darules{
    margin: 0px;
    padding-bottom: 100px;
     font-size: 35px;
    font-style: oblique;
}
/*Styles for Controls */
.darult{
    margin: 0px;
    padding-bottom: 40px;
     font-size: 30px;
    font-style: oblique;
}
/*Back button from rules screen */
#backop{
    margin: 30px;
    margin-top: 0px;
    padding-top: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px; 
}

#backop:hover{
    background-color: green;
}
/*Control screen */
#conScreen{
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-size: 75px;
    margin: 0;
    margin-left: 180px;
    margin-top: 60px;
    border: solid;
    background-color: red;
    width: 1000px;
    height: 525px;
}
/*Back button from controls screen */
#backcon{
    margin: 30px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px; 
}

#backcon:hover{
    background-color: green;
}
/*Options Screen */
#opScreen{
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-size: 75px;
    margin: 0;
    margin-left: 180px;
    margin-top: 60px;
    border: solid;
    background-color: red;
    width: 1000px;
    height: 525px;
}
/*Controls button */
#wtcontrol{
    margin: 30px;
    margin-bottom: 125px;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#wtcontrol:hover{
    background-color: green;
}
/*Resume Button */
#rezum{
    margin: 30px;
    margin-bottom: 0px;
    padding: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;  
}

#rezum:hover{
    background-color: green;
}
/*Rules Button */
#ruls{
    margin: 30px;
    margin-bottom: 125px;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#ruls:hover{
    background-color: green;
}
/*Easy button */
#easyButton{
    margin: 0;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#easyButton:hover{
    background-color: green;
}
/*Meadium Button */
#medButton{
    margin: 0;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#medButton:hover{
    background-color: yellow;
}
/*Hard Button */
#hardButton{
    margin: 0;
    padding-bottom: 0px;
    border: 2px solid black;
    background-color: dimgray;
    border-radius: 10px;
}

#hardButton:hover{
    background-color: red;
}
/*Title */
#whocrs{
    margin: 0;
    font-family: 'Play', sans-serif;
}
/*Scoreboard */
#playHUD{
    position: absolute;
    visibility: hidden;
    padding-left: 100px;
    padding-top: 35px;
}
/*game over scoreboard */
#gmscoreboard{
    margin:0;
}
/*Playing with animations */
.body {
    position: absolute;
    width: 300px;
    height: 300px;
    background: green;
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0% {background: green;}
    50%{background: red;}
    100% {background: blue;}
}