body{
    margin: 0;
    padding: 0;
    background-color: green;
}

#game-screen{
    display: block;
}

canvas{
    width: 800px;
   padding-top: 0px;
   
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 200px;
}

.mus{
         margin: 0 auto;
         background-color: green;
     }
     
     #arkeys{
         
     }
     .coolink{
         color: black;   
    text-decoration: none;
    font-size: 100px;
    text-align: center;
     }
 
     
     .snakez{
         font-size: 150px;
     }